* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.solid-line {
  margin-top: 47px;
  background: #E1E1E1;
}
.cange-language {
  display: flex;
  align-items: center;
  margin-right: 103px;
}
.cange-language-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.28%;
  text-decoration: none;
}
.slick-center .food-slider-banket-slide-item {
  display: flex;
  justify-content: center;
}
.cange-language-delimiter {
  width: 1px;
  height: 26px;
  display: block;
  background-color: #fff;
  margin: 0 12px;
}
.header {
  padding: 14px 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 201px;
  opacity: 0.5;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.header::after .mobile-navigation {
  display: none;
}
.header::after-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.28%;
  text-decoration: none;
}
.header::after-delimiter {
  width: 1px;
  height: 26px;
  display: block;
  background-color: #fff;
  margin: 0 12px;
}
.header-navigation {
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 3;
}
.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
.header-list-item-link {
  text-decoration: none;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.28%;
}
.header-list-item-link.new-nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s all;
}
.header-list-item-link.new-nav:hover::after {
  transition: 0.3s all;
  width: 40%;
}
.header-list-item-link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: #fff;
}
.header-list-item-link.foo-nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 0.3s all;
}
.header-list-item-link.foo-nav:hover::after {
  transition: 0.3s all;
  width: 40%;
}
.header-list-item-link.current-foo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: #000;
}
.main {
  overflow: hidden;
}
.main .banner-slider {
  height: 100%;
}
.main .banner-slider-item {
  height: 100%;
}
.main .banner-slider .slick-next,
.main .banner-slider .slick-prev {
  position: absolute;
  bottom: -40px;
  width: 25px;
  height: 16px;
  z-index: 10;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  opacity: 1;
  transition: 0.3s all;
}
.main .banner-slider .slick-next:hover,
.main .banner-slider .slick-prev:hover {
  transition: 0.3s all;
  opacity: 0.62;
}
.main .banner-slider .slick-next {
  background: url("../icons/arrow_next.svg") center center/cover no-repeat;
  right: 3.1%;
}
.main .banner-slider .slick-prev {
  background: url("../icons/arrow_prev.svg") center center/cover no-repeat;
  right: 7.5%;
}
.main .banner-slider-item {
  width: 100%;
}
.main .banner-slider-img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
  object-position: 0 80%;
}
.main .banner-info {
  padding: 39px 0 0 0;
}
.main .banner-info-block.panorama {
  padding-top: 48px;
}
.main .banner-info-wrapper {
  display: flex;
  align-items: start;
}
.main .banner-info-title {
  margin-right: 60px;
}
.main .banner-info-title span {
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  display: inline-block;
  margin: -6px 0 0 -3px;
}
.main .banner-info-title h1 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}
.main .banner-info-title h1 span {
  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-left: -4px;
  text-transform: none;
}
.main .banner-info-title-wrapper {
  display: flex;
  align-items: center;
}
.main .banner-info-title-wrapper-counter {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.main .banner-info-title-wrapper-counter-sep {
  display: block;
  width: 1px;
  height: 18px;
  background-color: #4F4F4F;
  margin: 0 16px;
}
.main .banner-info-title-wrapper-counter-item {
  display: flex;
  align-items: center;
}
.main .banner-info-title-wrapper-counter-item p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-right: 6px;
}
.main .banner-info-title-wrapper-counter-item p span {
  color: #C7A462;
  margin: 0;
  margin-left: 4px;
  font-size: 20px;
}
.main .banner-info-block-wrapper {
  display: flex;
  align-items: center;
  margin: 18px -11.5px 0 -11.5px;
}
.main .banner-info-block-item {
  display: flex;
  align-items: center;
  padding: 0 11.5px;
}
.main .banner-info-block-item-text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.main .banner-info-block-item-img {
  margin-right: 10px;
}
.main .banner-info-descr {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 6px 0 0 4px;
}
.main .information {
  padding: 41px 0 93px 0;
}
.main .information-wrapper {
  display: flex;
  margin: 0 -31.5px;
}
.main .information-block {
  padding: 0 31.5px;
  width: 50%;
}
.main .information-block-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.main .tour {
  background-color: #F9F9F9;
  padding: 44px 0 52px 0;
  margin-bottom: -76px;
}
.main .tour h2 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
}
.main .price {
  padding: 0;
}
.main .price h2 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.main .price .price-icons-slider {
  display: block;
  margin: 57px -28px;
}
.main .price .price-icons-slider .price-icons-slider-item {
  display: block;
  padding: 0 28px;
  width: 252px;
}
.main .price .price-icons-slider .price-icons-slider-item .icons-item-text {
  margin-top: 26px;
}
.main .price .price-icons-slider .price-icons-slider-item .icons-item-text p {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.main .price .price-icons-slider .price-icons-slider-item .icons-item-text p span {
  font-weight: 700;
}
.main .price-wrapper {
  display: flex;
  margin: 20px -29.5px 0 -29.5px;
}
.main .price-wrapper-icons {
  display: flex;
  align-items: center;
  margin: 57px -28px 58px -32px;
}
.main .price-wrapper-icons .icons-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  padding: 0 28px;
}
.main .price-wrapper-icons .icons-item-text {
  margin-top: 26px;
}
.main .price-wrapper-icons .icons-item-text p {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.main .price-wrapper-icons .icons-item-text p span {
  font-weight: 700;
}
.main .price-block-info {
  padding: 0 29.5px;
}
.main .price-block-info-item {
  padding: 18.5px 0 20.5px 0;
  border-bottom: 1px solid #E1E1E1;
}
.main .price-block-info-item:last-child {
  border: none;
}
.main .price-block-info-item-title {
  display: flex;
  justify-content: space-between;
}
.main .price-block-info-item-title-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.main .price-block-info-item-title-price {
  color: #000;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.main .price-block-info-item-title-price span {
  color: #C7A462;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.28%;
}
.main .price-block-info-item-descr {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-top: 16px;
}
.main .price-block-img {
  padding: 0 29.5px;
}
.main .price-block-img img {
  margin-top: 28px;
}
.main .halls {
  padding-top: 48px;
}
.main .halls h2 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.main .halls-wrapper {
  display: flex;
  margin: 33px -15px 0 -15px;
}
.main .halls-item {
  padding: 0 15px;
}
.main .halls-item-img {
  display: inline-block;
}
.main .halls-item-plus {
  position: absolute;
  bottom: 17px;
  right: 11px;
  background-color: #C7A462;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
  font-weight: 100;
  text-decoration: none;
  transition: 0.3s all;
}
.main .halls-item-plus:hover {
  background-color: #907748;
  transition: 0.3s all;
}
.main .halls-item-text-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-top: 16px;
}
.main .halls-item-text-numbers {
  display: flex;
  align-items: center;
}
.main .halls-item-text-numbers-bord {
  width: 1px;
  height: 18px;
  background: #4F4F4F;
  margin: 0 16px;
}
.main .halls-item-text-numbers-left {
  display: flex;
  align-items: center;
}
.main .halls-item-text-numbers-left p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-right: 6px;
}
.main .halls-item-text-numbers-right {
  display: flex;
  align-items: start;
}
.main .halls-item-text-numbers-right p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-right: 5px;
}
.main .halls-item-text-numbers-right span {
  color: #C7A462;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.main .halls-item-text-descr {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-top: 21px;
}
.main .food {
  padding: 85px 0 33px 0;
}
.main .food h2 {
  margin-top: 48px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.main .food-banner {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}
.main .food-slider-banket.fursh {
  margin-bottom: 51px;
}
.main .food-slider-banket {
  margin: 20px -20px 0 -20px;
}
.main .food-slider-banket .slick-next,
.main .food-slider-banket .slick-prev {
  position: absolute;
  top: -38px;
  width: 25px;
  height: 16px;
  z-index: 10;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  opacity: 1;
  transition: 0.3s all;
}
.main .food-slider-banket .slick-next:hover,
.main .food-slider-banket .slick-prev:hover {
  transition: 0.3s all;
  opacity: 0.62;
}
.main .food-slider-banket .slick-next {
  background: url("../icons/arrow_next.svg") center center/cover no-repeat;
  right: 1.5%;
}
.main .food-slider-banket .slick-prev {
  background: url("../icons/arrow_prev.svg") center center/cover no-repeat;
  right: 6.5%;
}
.main .food-slider-banket-slide-wrapper {
  display: flex;
  margin: 30px -20px 0 -20px;
}
.main .food-slider-banket-slide-item {
  padding: 0 20px;
}
.main .food-slider-banket-slide-item-text {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  align-items: start;
}
.main .food-slider-banket-slide-item-text-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.main .food-slider-banket-slide-item-text-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: -4px -1px 0 0;
}
.main .food-slider-banket-slide-item-text-price span {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.28%;
  color: #C7A462;
}
.main .food-slider-banket-slide-item-descr {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #666666;
}
.main .food-slider-banket-slide-item-price {
  display: none;
}
.main .food-slider-banket.new-page {
  margin-top: 30px;
}
.main .food-slider-banket.new-page .slick-prev {
  right: 6%;
}
.main .food-slider-banket.new-page .slick-next {
  right: 1.5%;
}
.main .food-slider-banket.new-page .slick-prev,
.main .food-slider-banket.new-page .slick-next {
  top: -57px;
}
.main .food-banket-download {
  margin: 32px auto 47px auto;
  text-decoration: none;
  border-radius: 50px;
  background: #C7A462;
  display: block;
  text-align: center;
  width: 260px;
  height: 44px;
  padding: 12px 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.28%;
  text-transform: uppercase;
  transition: 0.3s all;
}
.main .food-banket-download:hover {
  transition: 0.3s all;
  background-color: #907748;
}
.main .food-banket-download span {
  font-weight: 400;
  margin-left: 7px;
}
.main .food-banket-download.fursh {
  width: 267px;
}
.main .food.new-page {
  padding-bottom: 19px;
}
.main .price-list {
  background-color: #F9F9F9;
  padding: 56px 0 98px 0;
}
.main .price-list h3 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.main .price-list-wrapper {
  width: 752px;
  margin: 0 auto;
  margin-top: 45px;
}
.main .price-list-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
}
.main .price-list-item:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.main .price-list-item-descr {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 4px;
}
.main .price-list-item-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  padding-right: 24px;
  width: 23%;
}
.main .price-list-item-price span {
  color: #C7A462;
}
.main .events {
  padding: 72px 0 71px 0;
}
.main .events-container {
  display: flex;
  border: 1px solid #E1E1E1;
}
.main .events-link-block {
  width: 37.5%;
  padding: 10px;
  background: url("../img/event.jpg") center center/cover no-repeat;
}
.main .events-link-block-content {
  padding: 26px 0 31px 0;
  border: 1px solid #fff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main .events-link-block-content svg {
  display: block;
  margin: 0 auto;
}
.main .events-link-block-content-text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 15px;
}
.main .events-link-block-content-link {
  width: 230px;
  height: 44px;
  text-decoration: none;
  background-color: #fff;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
  transition: 0.3s all;
}
.main .events-link-block-content-link:hover {
  background-color: #E1E1E1;
  transition: 0.3s all;
}
.main .events-link-block-content-link svg {
  margin: 0;
  margin-right: 10px;
}
.main .events-link-block-content-link p {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
}
.main .events-text-block {
  width: 62.5%;
  padding: 74px 73px 79px 136px;
}
.main .events-text-block svg {
  position: absolute;
  left: 11.7%;
  top: 27% s;
}
.main .events-text-block p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.main .contacts-wrapper {
  display: flex;
  margin: 0 -11px;
  padding-bottom: 36px;
}
.main .contacts-info {
  padding: 0 11px;
  width: 60%;
  overflow: hidden;
}
.main .contacts-info h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 23px;
}
.main .contacts-info-item {
  display: flex;
  margin-top: 22px;
}
.main .contacts-info-item p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 22px;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
}
.main .contacts-info-item-icon {
  margin-right: 12px;
}
.main .contacts-info-item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 22px;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  display: block;
}
.main .contacts-info-item-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border: none;
  padding: 0;
  margin-bottom: 12px;
}
.main .contacts-info-item-text span {
  height: 7px;
  display: block;
  width: 100%;
}
.main .contacts-info-item-text a {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #C7A462;
  text-decoration: none;
  margin-top: 8px;
  transition: 0.3s all;
}
.main .contacts-info-item-text a:hover {
  color: #907748;
  transition: 0.3s all;
}
.main .contacts-map {
  padding: 0 11px;
  width: 100%;
}
.main .contacts-map #map {
  height: 515px;
}
.footer {
  margin: 0;
  height: auto;
  padding: 0;
  background-color: transparent;
  padding-bottom: 40px;
}
.footer .cange-language-btn {
  color: #000;
}
.footer .cange-language-delimiter {
  width: 1px;
  height: 26px;
  display: block;
  background-color: #000;
  margin: 0 12px;
}
.footer .header-navigation {
  padding: 28px 0 26px 0;
  border-top: 1px solid #E1E1E1;
}
.footer .header-list-item-link {
  color: #000;
}
.footer .copyright {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #666666;
}
.footer-navigation {
  display: none;
}
.mobile-menu {
  display: none;
}
.mobile-menu-header {
  display: none;
}
.visible-only {
  display: none;
}
.tour-mobile {
  display: none;
}
@media (max-width: 1220px) {
  .container {
	width: 94%;
	margin: 0 auto;
  }
  .header-navigation {
	display: none;
  }
  .header .mobile-navigation {
	display: block;
	z-index: 10001;
  }
  .header .mobile-navigation-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .header .mobile-navigation-btn {
	display: block;
	width: 24px;
	height: 22px;
	cursor: pointer;
  }
  .header .mobile-navigation-btn::after, .header .mobile-navigation-btn::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
  }
  .header .mobile-navigation-btn::after {
	bottom: 0;
  }
  .header .mobile-navigation-btn::before {
	top: 0;
  }
  .header .mobile-navigation-btn span {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background-color: #fff;
  }
  .mobile-menu.open {
	width: 100%;
	transition: 0.5s all;
  }
  .mobile-menu.open .mobile-menu-wrapper {
	left: 0;
	transition: 0.5s all;
	transition-delay: 0.3s;
	padding: 120px 0 20px 0;
  }
  .mobile-menu {
	display: block;
	height: 100%;
	width: 0;
	transition: 0.5s all;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100001;
  }
  .mobile-menu-wrapper {
	background-color: #fff;
	width: 360px;
	height: 100vh;
	padding: 136px 0 32px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s all;
	left: -400px;
  }
  .mobile-menu-close {
	position: absolute;
	top: 28px;
	left: 28px;
	cursor: pointer;
  }
  .mobile-menu-item {
	text-align: center;
	margin-bottom: 60px;
  }
  .mobile-menu-item:last-child {
	margin-bottom: 0;
  }
  .mobile-menu-item a {
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
  }
  .mobile-menu-change {
	display: flex;
	align-items: center;
  }
  .mobile-menu-change-item a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 146.28%;
  }
  .mobile-menu-change-bord {
	width: 1px;
	height: 100%;
	background-color: #C7A462;
	margin: 0 16px;
  }
  .main .banner-info-block-wrapper {
	flex-wrap: wrap;
	margin-top: 0;
  }
  .main .banner-info-block-item {
	width: 100%;
	margin-top: 10px;
  }
  .main .banner-slider-img {
    object-position: center;
  }
  .main .contacts-info {
	width: 40%;
  }
  .main .contacts-map {
	width: 60%;
  }
  .main .price-wrapper {
	flex-wrap: wrap;
	margin: 0;
	margin-top: 20px;
  }
  .main .price-block-info {
	padding: 0;
  }
  .main .price-block-img {
	padding: 0;
	width: 100%;
  }
  .main .price-block-img img {
	width: 100%;
	margin-top: 10px;
  }
  .main .price-wrapper-icons {
	display: none;
  }
  .main .price .price-icons-slider {
	display: block;
	margin: 32px -40px 0 -40px;
	overflow: hidden;
  }
  .main .price .price-icons-slider .icons-item {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding: 0 40px;
  }
  .main .price .price-icons-slider .icons-item-text {
	margin-top: 26px;
  }
  .main .price .price-icons-slider .icons-item-text p {
	color: #000;
	font-family: Rubik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
  }
  .main .price .price-icons-slider .icons-item-text p span {
	font-weight: 700;
  }
  .footer-navigation {
	display: block;
  }
  .footer-list {
	list-style: none;
  }
  .footer-item.logo {
	margin-bottom: 32px;
  }
  .footer-item {
	text-align: center;
	margin-bottom: 36px;
  }
  .footer-item a {
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 146.28%;
	color: #000;
  }
}
@media (max-width: 1050px) {
  .main .banner-slider .slick-prev {
	right: 12%;
  }
  .main .banner-info-wrapper {
	flex-wrap: wrap;
  }
  .main .banner-info-title {
	margin-right: 30px;
  }
  .main .banner-info-title span {
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
  }
  .main .banner-info-title h1 {
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
  }
  .main .banner-info-title h1 span {
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
  }
  .main .banner-info-block-wrapper {
	margin: 18px -7.5px 0 -7.5px;
  }
  .main .banner-info-block-item {
	padding: 0 7.5px;
	align-items: start;
  }
  .main .banner-info-block-item-img {
	padding-top: 3px;
  }
  .main .banner-info-block-item-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
  }
  .main .banner-info-descr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	padding-left: 0;
  }
  .main .banner-info-wrapper {
	flex-wrap: wrap;
	margin-right: 0;
	margin-left: 0;
  }
  .main .banner-info-wrapper-icons {
	display: none;
  }
  .main .banner-info-block-img {
	width: 100%;
	padding: 0;
  }
  .main .banner-info-block-img img {
	width: 100%;
  }
  .main .halls-wrapper {
	margin: 15px 0 -18px 0;
	flex-wrap: wrap;
  }
  .main .halls-item {
	padding: 18px 0;
  }
  .main .halls-item-img {
	width: 100%;
  }
  .main .halls-item-img img {
	width: 100%;
  }
  .main .food-slider-banket .slick-prev {
	right: 12%;
  }
  .main .food-slider-banket.new-page .slick-prev {
	right: 10%;
  }
  .main .price .price-icons-slider {
	display: block;
	margin: 32px -12px 0 -12px;
	overflow: hidden;
  }
  .main .price .price-icons-slider .icons-item {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding: 0 12px;
  }
  .main .price-list {
	padding-bottom: 40px;
  }
  .main .price-list-wrapper {
	width: 100%;
  }
  .main .price-list-item-descr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
  }
  .main .price-list-item-price {
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
  width: 24%;
  }
  .main .events-container {
	flex-wrap: wrap;
  }
  .main .events-link-block {
	width: 100%;
  }
  .main .events-text-block {
	width: 100%;
	padding: 70px 50px 70px 100px;
  }
  .main .events-text-block svg {
	left: 7%;
  }
  .main .contacts-wrapper {
	flex-wrap: wrap;
  }
  .main .contacts-info {
	width: 100%;
  }
  .main .contacts-map {
	width: 100%;
  }
  .main .contacts-map .map {
	width: 100%;
  }
  .main .banner-info-block.panorama {
	padding: 0;
  }
}
@media (max-width: 690px) {
  .container {
	width: 89%;
  }
  .main .banner-slider-item {
	max-height: 340px;
  }
  .main .information {
	padding: 32px 0;
  }
  .main .information-wrapper {
	flex-wrap: wrap;
	margin: -12px 0;
  }
  .main .information-block {
	width: 100%;
	padding: 12px 0;
  }
  .main .tour iframe {
	height: 314px;
  }
  .main .banner-info {
	padding: 25px 0 0 0;
  }
  .main .banner-info-title h1 span {
	margin: 0 0 0 1px;
	line-height: 120%;
  }
  .main .banner-info-block-wrapper {
	margin: 9px -7.5px 0 -7.5px;
  }
  .main .banner-info-block-item {
	margin-top: 13px;
  }
  .main .banner-info .solid-line {
	margin-top: 25px;
  }
  .main .price {
	padding: 30px 0 0 0;
  }
  .main .price .container.price-container {
	width: 100%;
  }
  .main .price h2 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	padding: 0 20px;
  }
  .main .price .solid-line {
	display: none;
  }
  .main .price-block-info {
	padding: 0 20px;
  }
  .main .price-block-info-item {
	padding: 12.5px 0 24.5px 0;
  }
  .main .price-block-info-item:nth-child(2) {
	padding: 21px 0 25px 0;
  }
  .main .price-block-info-item:nth-child(3) {
	padding: 21px 0 25px 0;
  }
  .main .price .price-icons-slider {
	margin: 26px -1px 0 -1px;
  }
  .main .price .price-icons-slider .icons-item-text {
	margin-top: 30px;
  }
  .main .price .price-icons-slider .price-icons-slider-item .icons-item {
	padding: 0 22px;
  }
  .main .halls {
	padding: 0;
  }
  .main .halls h2 {
	display: none;
  }
  .main .halls-wrapper {
	margin: 20px 0 -18px 0;
  }
  .main .halls-item {
	padding: 21px 0;
  }
  .main .food {
	padding: 41px 0 0 0;
  }
  .main .food-banner {
	height: 249px;
	width: auto;
  }
  .main .food h2 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-top: 30px;
  }
  .main .food-slider-banket {
	margin: 19px -10px 0 -10px;
  }
  .main .food-slider-banket-slide-item {
	width: 307px;
	padding: 0 10px;
  }
  .main .food-slider-banket-slide-item-img {
	width: 100%;
  }
  .main .food-slider-banket-slide-item-text {
	margin-top: 17px;
  }
  .main .food-slider-banket-slide-item-text-price {
	display: none;
  }
  .main .food-slider-banket-slide-item-descr {
	margin-top: 3px;
  }
  .main .food-slider-banket-slide-item-price {
	display: block;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
  }
  .main .food-slider-banket-slide-item-price span {
	color: #C7A462;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.28%;
	text-transform: capitalize;
  }
  .main .food-banket-download {
	width: 100%;
	margin: 29px auto 42px auto;
  }
  .main .food-banket-download.fursh {
	width: 100%;
  }
  .main .food-slider-banket.fursh {
	margin-bottom: 30px;
  }
  .main .price-list {
	padding: 44px 0;
  }
  .main .price-list h3 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	text-align: left;
  }
  .main .price-list-wrapper {
	margin-top: 24px;
  }
  .main .price-list-item {
	display: block;
	padding-bottom: 12px;
  }
  .main .price-list-item-price {
	margin-top: 7px;
  width: 100%;
  }
  .main .price-list-item-descr {
	padding: 0;
  }
  .main .events {
	padding: 45px 0 0 0;
  }
  .main .events .container.container-events {
	width: 100%;
  }
  .main .events-text-block {
	padding: 32px 25px 36px 62px;
  }
  .main .events-text-block svg {
	left: 5%;
  }
  .main .contacts {
	padding: 30px 0 0 0;
  }
  .main .contacts .container.container-contacts {
	width: 100%;
  }
  .main .contacts-info {
	padding: 0 30px;
  }
  .main .contacts-info h3 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 0;
  }
  .main .contacts-info-item {
	margin-top: 19px;
  }
  .main .contacts-info-item-icon {
	margin-right: 8px;
  }
  .main .contacts-info-item p {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
  }
  .main .contacts-info-item-text {
	padding-bottom: 24px;
  }
  .main .contacts-info-item-text p {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 13px;
  }
  .main .contacts-map {
	margin-top: 7px;
  }
  .main .contacts-map .map #map {
	height: 265px;
  }
  .footer-item.logo {
	margin-bottom: 24px;
  }
  .footer-item {
	margin-bottom: 37px;
  }
  .mobile-menu.open .mobile-menu-wrapper {
	width: 100%;
	padding: 16px 0;
  }
  .mobile-menu-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
  }
  .mobile-menu-header-close {
	cursor: pointer;
	text-decoration: none;
  }
  .mobile-menu-header-logo {
	text-decoration: none;
  }
  .mobile-menu-header-call {
	text-decoration: none;
  }
  .mobile-menu-close {
	display: none;
  }
  .visible-only {
	display: block;
  }
  .tour {
	display: none;
  }
  .tour-mobile {
	display: block;
  }
  .tour-mobile-block {
	background: url("../img/mobile-tour.jpg") center center/cover no-repeat;
	min-height: 314px;
	width: 100%;
	padding: 110px 50px;
  }
  .tour-mobile-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	text-align: center;
  }
  .tour-mobile-link {
	background-color: #D19160;
	color: #fff;
	width: 225px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	padding: 12px 0;
	margin-top: 18px;
	transition: 0.3s all;
  }
  .tour-mobile-link:hover {
	transition: 0.3s all;
	background-color: #c9793b;
  }
}